---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1
      class='m-2 mx-auto max-w-md rounded-xl border border-blue-800 bg-blue-100 px-6 py-2 text-center text-2xl text-blue-400'
    >
      My Astro Site
    </h1>
  </body>
</html>
