<nav
  class='left-12 top-20 hidden w-full bg-[#ff9776] sm:static sm:ml-[5em] sm:block sm:w-auto'
>
  <a
    class='block bg-none py-[10px] text-center text-[1.2rem] font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:px-5 sm:py-[15px]'
    href='/'>Home</a
  >
  <a
    class='block bg-none py-[10px] text-center text-[1.2rem] font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:px-5 sm:py-[15px]'
    href='/about'>About</a
  >
  <a
    class='block bg-none py-[10px] text-center text-[1.2rem] font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:px-5 sm:py-[15px]'
    href='/blog'>Blog</a
  >
</nav>
